div.navbar a{
    font-size: 1em;
}



div.row{
    margin-right: 0px;
 }
 
 div.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
 }  

div[class^='col-']{
    border: 5px solid white;
  }

.separador{
    height: 20px;   
}

div.marco-j {
    background-color:#eee;
    padding: 1em;
}

div.menu-circular {
    margin-right: auto;
}