div.navbar a{
    font-size: 1em;
}

div.row{
    margin-right: 0px;
 }
 
 div.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
 }  

div[class^='col-']{
    border: 5px solid white;
  }

.separador{
    height: 20px;   
}

div.marco-white {
    background-color:rgba(255, 255, 255, 0.651);
    padding: 1em;
}


div.marco-j {
    background-color:rgba(34, 33, 33, 0.651);
    padding: 1em;
}

div.menu-circulo iframe{
    align-content: center;

}

div needs-validation {
    width: auto;
    align-content: center;

}

div.pieHizquierdo p{
 font-size: small;   
}


div.pieDerecho p{
    font: bolder;
    font-size: small;   
   }

div pie {
    color: #eee;
    font-size: x-small;
}


